body {
  margin: 0px;
  padding: 5px;
}

div {
  border: 1px dotted black;
  color: black;
}
div#container{
  /* background-color: red; */
  /* padding: 0px; */
}

header {
  border: 1px dotted red;
}

nav {
  border: 1px dotted blue;
}

aside {
  border: 1px dotted green
}

section {
  border: 1px dotted red;
}

footer {
  border: 1px dotted blue;
}

.container {
  /* border: 1px solid black; */
  
}