body{
  margin: 0px;
  padding: 5px;
}
div{
  border: 1px dotted black;
}

.container{
  border: 1px solid black;
}
header{
  border: 1px dotted red;
}
nav{
  border: 1px dotted blue;
}
aside{
  border: 1px dotted green
}
section{
  border: 1px dotted red;
}
footer{
  border: 1px dotted blue;
}

ul, a{
  list-style-type: none;
  text-decoration: none;
}
li{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
