body {
  border: 1px solid black;
  width: 1200px;
  height: 98vh;
  padding: 5px;
  margin: 0 auto;
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

header,
footer {
  border: 1px solid black;
  height: 14%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  margin: 5px;


}

section {
  /* border: 1px solid black; */
  height: 60%;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

article {
  border: 1px solid black;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

article>div {
  /* border: 3px dotted green; */
  padding: 5px;

}

.item1 {
  width: 70%;
  margin-right: 10px;
}

.item2 {
  width: 30%;
}

.content {
  max-height: 70%;
  /* background-color: red; */
  overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}